@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content p {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 33px;
  margin-top: 33px;
  text-align: center;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgb(163, 255, 249) 0%,
    rgb(163, 215, 255) 48%,
    rgb(255, 255, 255) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.icondev {
  color: white;
}

.description {
  font-size: 20px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
  line-height: 1.5rem;
 text-align: left;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.downloadButton {
  box-shadow: 0 0 5px #35abff, 0 0 10px #35abff, 0 0 15px #35abff;
  text-decoration: none;
  background: transparent;
  color: #ff38ac;
  text-shadow: 0 0 5px #ff38ac;
  border-radius: 10px;
  font-size: 20px;
  padding: 8px 10px;
  overflow: hidden;
  border: 2px solid rgba(255, 56, 172, 0.1); 
  cursor: pointer;
  transition: all 0.5s ease; 
}
.downloadButton:hover {
  box-shadow: 0 0 10px #35abff, 0 0 20px #35abff, 0 0 30px #35abff;
  background-color: rgba(255, 56, 172, 0.1);
  color: #35abff;
}

.contactBtn{
  box-shadow: 0 0 5px #ff38ac, 0 0 10px #ff38ac, 0 0 15px #ff38ac;
  text-decoration: none;
  background: transparent;
  color: #35abff;
  text-shadow: 0 0 5px #35abff;
  border-radius: 10px;
  font-size: 20px;
  padding: 8px 10px;
  overflow: hidden;
  border: 2px solid rgba(255, 56, 172, 0.1); 
  cursor: pointer;
  text-align: center;
  transition: all 0.5s ease; 
}

.contactBtn:hover {
  box-shadow: 0 0 10px #ff38ac, 0 0 20px #ff38ac, 0 0 30px #ff38ac;
  background-color: rgba(255, 56, 172, 0.1);
  color: #ff38ac;
}

.myPhoto {
  width: 20%;
  z-index: 1;
  border-radius: 50%;
  padding: 5px;
  /*box-shadow: 0 0 10px #ff38ac, 0 0 10px #ff38ac;*/
  transition: box-shadow 0.3s ease;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  position: relative;
  overflow: hidden;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}


@media screen and (max-width: 830px) {
  .container{
    flex-direction: column-reverse;
    margin: 40px 10px 50px 10px;
  }

  .content p{
   text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
  }

  .title{
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .buttons{
    margin-top: 30%;
  }

  .description {
    font-size: 10px;
    line-height: 1.5rem;
   text-align: center;
    margin-bottom: 40px;
  }

  .myPhoto{
    width: 50%;
    margin-top: 1rem;
  }

  .contactBtn, .downloadButton{
    font-size: 19px;
  }
}


