@import "../../vars.css";

.containerContact {
  margin-top: 30px;
  color: var(--color-text);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  animation: RevealText 3s steps(10, end);
  display: inline-block;
  letter-spacing: 1px;
  font-size: 30px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 330px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

@keyframes RevealText {
  from {
    width: 0;
  }
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subTitle {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: var(--font-roboto);
  margin-top: 20px;
  text-shadow: 0 0 5px #ff38ac;
}

.arrowIconLeft {
  font-size: 4rem;
  color: #35abff;
  animation: slideIn 4s Infinite;
}
@keyframes slideIn {
  0% {
    transform: translateX(-610%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2%);
  }
}

.arrowIconRight {
  font-size: 4rem;
  color: #ff38ac;
  animation: slide 4s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(600%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2%);
  }
}

.contactIcons a {
  font-size: 2rem;
  color: var(--color-text);
  margin-top: 0;
}

.contactIcons a:hover {
  color: #ff38ac;
}

.containerForm {
  background-color: #33293f;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  width: 50vw;
  height: 30vh;
  display: flex;
align-items: center;
justify-content: center;
margin: 40px auto 0 auto;
min-width: 558px;

}

.containerForm::before {
 content: '';
  position: absolute;
  background: #ff38ac;
  box-shadow: 0 0 5px #ff38ac, 0 0 10px #ff38ac, 0 0 15px #ff38ac;
  width: 200%;
  height: 100%;
  top: 40%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%) rotate(0deg);
  z-index: -1;
 
  animation: animate 3s infinite linear;
 
}
@keyframes animate {
 100% {
    transform: translate(-50%, -50%) rotate(360deg) ;
  }
}
.containerForm::after {
  content: '';
  background-color: #33293f;
  position: absolute;
  inset: 3px;
  border-radius: inherit;
  z-index: -1;
}

.divForm {
 min-width: 500px;
  border-radius: 10px;
}



.formTitle {
  letter-spacing: 1px;
  font-family: var(--font-roboto);
  color: var(--color-text);
  background: transparent;
  margin-bottom: 10px;
}

.sendIcon {
  background: transparent;
}

.column {
  display: flex;
  flex-direction: column;
  background: transparent;
  gap: 5px;
}

.row {
  max-width: 90%;
  min-height: 90px;
  background: transparent;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

.label {
  font-size: 13px;
  letter-spacing: 1px;
  font-family: var(--font-roboto);
  color: var(--color-text);
  background-color: transparent;
}

.inputs {
  border-style: none;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  max-width: 200px;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 1px 1px rgb(3, 3, 5);
}

.textarea {
  min-height: 80px;
  min-width: 200px;
  resize: none;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 1px 1px rgb(3, 3, 5);
  border-radius: 10px;
  margin-top: 10px;
}

.send {
  box-shadow: 0 0 5px #ff38ac, 0 0 10px #ff38ac, 0 0 15px #ff38ac;
  text-decoration: none;
  background: transparent;
  color: #ffffff;
  text-shadow: 0 0 5px #35abff;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 20px;
  overflow: hidden;
  border: 2px solid rgba(255, 56, 172, 0.1); 
  cursor: pointer;
  text-align: center;
  bottom: 30px;
  transition: all 0.5s ease; 
}

.btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin-top: 13%;
  background: transparent;
  margin-right: 0;
}


@media (max-width: 768px) {
  .containerForm {
    width: 68vw;
    height: 57vh;
   
    margin-top: 0;
    padding-top: 0;
    min-width: 200px;
  }

  .containerForm::before {
     width: 60%;
     height: 200%;
     margin-top: 0;
   }

  .form {
    width: 60vw;
    height: 35vh;
    margin-top: 0;
  }

  .divForm {
    padding: 0;
    margin: 0;
    min-width: 200px;
    min-height: 340px;
  }

  .row {
    max-width: 100%;
    min-height: 100px;
    flex-direction: column;
  }

  .form {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .formTitle {
    margin-top: 10px;
   text-align: center;
  }

  .textarea {
   margin-bottom: 0;
  }

  .btn {
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-top: 10px;
  }
  

}









