@import "../../vars.css";

.containerContact {
  margin-top: 30px;
  color: var(--color-text);
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  animation: RevealText 3s steps(10, end);
  display: inline-block;
  letter-spacing: 1px;
  font-size: 30px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  width: 330px;
  margin: auto;
  text-align: center;
  margin-bottom: 30px;
}

@keyframes RevealText {
  from {
    width: 0;
  }
}

.contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.subTitle {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  font-family: var(--font-roboto);
  margin-top: 20px;
  text-shadow: 0 0 5px #ff38ac;
}

.arrowIconLeft {
  font-size: 4rem;
  color: #35abff;
  animation: slideIn 4s Infinite;
}
@keyframes slideIn {
  0% {
    transform: translateX(-610%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2%);
  }
}

.arrowIconRight {
  font-size: 4rem;
  color: #ff38ac;
  animation: slide 4s infinite;
}
@keyframes slide {
  0% {
    transform: translateX(600%);
  }
  50% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(2%);
  }
}

.contactIcons a {
  font-size: 2rem;
  color: var(--color-text);
  margin-top: 0;
}

.contactIcons a:hover {
  color: #ff38ac;
}

.containerForm {
  margin-top: 60px;
  margin-left: 25%;
  background-color: rgba(255, 56, 172, 0.1);
  border-radius: 10px;
  position: relative;
  z-index: 1;
  overflow-y: hidden;
  width: 50%;
  height: auto;
}

.containerForm::before {
 content: '';
  position: absolute;
  background-color: #ff38ac;
  box-shadow: 0 0 5px #ff38ac, 0 0 10px #ff38ac, 0 0 15px #ff38ac;
  width: 660px;
  height: 65%;
  display: flex;
  align-items: center;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
  z-index: -1;
  animation: animate 3s infinite;
 
}
@keyframes animate {
 100% {
    transform: rotate(360deg);
  }
}
.containerForm::after {
  content: '';
  background-color: rgb(0, 0, 0);
  position: absolute;
  inset: 5px;
  border-radius: inherit;
  z-index: -1;
}

.divForm {
  
  padding: 20px 40px;
  margin: auto;
 
  margin-top: 30px;
  border-radius: 10px;
  
  
}



.formTitle {
  font-size: 20px;
  letter-spacing: 1px;
  font-family: var(--font-roboto);
  color: var(--color-text);
  background: transparent;
  margin-bottom: 10px;
}

.sendIcon {
  background: transparent;
}

.column {
  display: flex;
  flex-direction: column;
  background: transparent;
  gap: 5px;
}

.row {
  width: 100%;
  min-height: 100px;
  background: transparent;
  display: flex;
  flex-direction: column;
}

.form {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.label {
  font-size: 13px;
  letter-spacing: 1px;
  font-family: var(--font-roboto);
  color: var(--color-text);
  background-color: transparent;
}

.inputs,
.textarea {
  border-style: none;
  border-radius: 10px;
  padding: 8px;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 2px 2px 1px 1px rgb(3, 3, 5);
}

.textarea {
  min-height: 100px;
  resize: none;
  width: 250px;
}

.send {
  box-shadow: 0 0 5px #ff38ac, 0 0 10px #ff38ac, 0 0 15px #ff38ac;
  text-decoration: none;
  background: transparent;
  color: #ffffff;
  text-shadow: 0 0 5px #35abff;
  border-radius: 10px;
  font-size: 16px;
  padding: 5px 20px;
  overflow: hidden;
  border: 2px solid rgba(255, 56, 172, 0.1); 
  cursor: pointer;
  text-align: center;
  bottom: 30px;
  transition: all 0.5s ease; 
}

.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 13%;
  background: transparent;
}

.status {
  background: transparent;
  color: var(--color-bg);
  font-size: 13px;
  text-align: center;
  width: 150px;
  margin-top: 10px;
}

@media screen and (max-width: 830px) {
  .arrowIconRight {
    font-size: 2rem;
  }

  .arrowIconLeft {
    font-size: 2rem;
  }

  .subTitle {
    font-size: 16px;
    margin-top: 5px;
  }

  .divForm {
    padding: 10px 15px;
    box-shadow: none;
    border: none;
    background: transparent;
  }

  .containerForm {
    background: linear-gradient(
      90deg,
      rgb(163, 255, 249) 0%,
      rgb(163, 215, 255) 48%,
      rgb(163, 169, 255) 100%
    );
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: 20px;
    border: 1px dotted black;
    height: 400px;
  }

  .form {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    align-items: center;
    gap: 0;
    background: transparent;
  }

  .formTitle {
    font-size: 15px;
    text-align: center;
  }

  .textarea {
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;

    min-height: 50px;
    resize: none;
    width: 180px;
  }

  .inputs {
    margin-bottom: 10px;
    padding: 3px;
    border-radius: 5px;
    width: 180px;
  }

  .btn {
    margin: auto;
  }

  .send {
    margin: auto;
  }
}
