:root {
    /*cor*/
    --color-text: #ffffff;
    --color-primary: #a3a9ff;
    --color-secondary: #a3d7ff;
    --color-tertiary: #a3fff9;
    --color-dark: #40484d ;
    --color-bg: #EFF8FF;

    /*fonts*/

}